@model List<Henry_Inc.ViewModels.Catalogs.Categories.CategoryViewModel>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
    var categoryUrl = "";
    if (culture == "vi")
    {
        categoryUrl = "danh-muc";
    }
    else
    {
        categoryUrl = "categories";
    }
}
<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            var parents = Model.Where(x => x.ParentId == null);
        }
        @for (int index = 0; index < parents.Count(); index++)
        {
            var parent = parents.ElementAt(index);
            var children = Model.Where(x => x.ParentId == parent.Id);
            if (children.Any())
            {
                <li class="subMenu open">
                    <a>@parent.Name</a>
                    <ul>
                        @foreach (var child in children)
                        {
                            <li>
                                <a class="active" href="/culture/@categoryUrl/@child.Id">
                                    @*<a class="active" href="/culture/@_loc["categoryUrl"]/@child.Id">*@
                                    <i class="icon-chevron-right"></i>
                                    @child.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                @*<li><a href="/@culture/@_loc["categoryUrl"]/@parent.Id">@parent.Name</a></li>*@
                <li><a href="/@culture/@categoryUrl/@parent.Id">@parent.Name</a></li>

            }
        }
    </ul>
    <br />
</div>
